/*  Applies flexbox to header elements  */
header {
  display: flex;
  justify-content: space-between;
}

/* Styles view highscores button */
.scores {
  background-color: rgb(115, 155, 133);
  border-radius: 25px;
  color: white;
  font-size: 22px;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px;

}

a:link,
a:visited {
  background-color: rgb(115, 155, 133);
  color: white;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

/* Styles countdown timer */
.time {
  background-color: rgb(115, 155, 133);
  border-radius: 25px;
  color: white;
  font-size: 22px;
  margin: 10px 10px 10px 10px;
  padding: 10px 50px 0px 50px;
}
/* Applies flexbox to wrapper div */
.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  padding-top: 5%;
  border: rgb(115, 155, 133) 10px;
}

/* Styles LOTR image on index.html */
.titleImage {
  width: 70%;
}

/* Styles quiz header */
.quizTitle > h2 {
  margin-top: -25px;
}

/* Styles p tag on start screen */
.start-screen {
  padding: 1%;
  display: inline-block;
  width: 60%;
  font-size: 20px;
}

/* styles start quiz button */
#start {
  margin-left: 25%;
  background-color: rgb(115, 155, 133);
  border-radius: 25px;
  color: white;
  font-size: 22px;
  line-height: 22px;
  margin: 25px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

/*  Styles questions */
#guestions {
  display: inline-block;
  margin-top: 100px;
}

/* Styles answer choices into 2x2 grid */
#choices{
  display:grid;
  grid-template-columns: 300px 300px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

/*  Styles answer choice box */
.choice {
  align-items: center;
  background-color: white;
  border-color: rgb(115, 155, 133);
  border-radius: 10px;
  padding: 10px;
  color: rgb(115, 155, 133);
  margin: 20px;
  font-size: 15px;
  font-weight: bolder;

}
/* Answer displays green if right */
.right {
  background-color: rgb(115, 155, 133);
  color: white;
}
/* Answer displays red if wrong */
.wrong {
  background-color:tomato;
  border-color: tomato;
  color: white;
}

/* Hover effect styled to not show if question wrong  */
.choice:not(.wrong):hover {
  background-color: rgb(115, 155, 133);
  color: white;
}

/* Styled to hide elements */
.hide {
  display: none;
}


#end-screen > p {
  font-size: 20px;
}

/* Styles submit button */
#submit
{
align-items: center;
background-color: white;
border-color: rgb(115, 155, 133);
border-radius: 10px;
padding: 4px;
color: rgb(115, 155, 133);
font-size: 15px;
font-weight: bolder;
}

/* Adds hover to submit button */
#submit:hover {
  background-color: rgb(115, 155, 133);
  color: white;
}

/* Styles input box */
#initials {
  border-radius: 10px;
  padding: 4px;
  font-size: 15px
}

/* Styles high score image on highscore.html */
.scoreImage {
  width:60%;
}

/* Styles clear highscore button in highscore.html */
.clear {
  background-color: rgb(115, 155, 133);
  border-radius: 25px;
  color: white;
  font-size: 22px;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

/* Styles go back button in highscore.html*/
.goBack {
  background-color: rgb(115, 155, 133);
  border-radius: 25px;
  color: white;
  font-size: 22px;
  margin: 10px 10px 10px 10px;
  padding: 10px 50px 10px 50px;
}


/* Styles saved scores in highscore.html */
.saved-scores > li {
  list-style: none;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
  margin: 3px;
  border: 5px solid rgba(128, 128, 128, 0.393);
}

.saved-scores > li:nth-child(odd) {
  background-color: rgb(148, 176, 161);
}

.saved-scores > li:nth-child(even) {
  background-color: rgb(118, 107, 107);
  color: darkgrey;
}


